 <div class="footer navigation">
 
   <footer class="footer" style="background-color: lightgray">
     <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/logo1.png" style="width:100% ">
      </div>
        <div class="col-md-4" style="text-align: center;">
            <h2 style="font-size: 20px;margin-top: 5px;">ABOUT COMPANY</h2> <hr>
              <ul class="footer-links" style="text-align: center;
                list-style-type: none;">
                  <li><a href="">Home</a></li> <br>
                  <li><a href="">About Us</a></li><br>
                  <li><a href="">Terms & Conditions</a></li><br>
                  <li><a href="">Private Policy</a></li><br>
                  <li><a href="">Help Center</a></li><br>
                      <li><a href="">Carrers </a></li><br>
                  <li><a href="">Contact us </a></li>
               </ul>
        </div>
         
              <div class="col-md-4" style="text-align: center;">
              <h2 style="font-size: 20px;margin-top: 5px;"> SOCIAL LINKS </h2> <hr>
                        <ul class="footer-links" >
                        <a href="https://www.facebook.com/" class="fa fa-facebook"></a><br>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a><br>
                        <a href="https://www.instagram.com/" class="fa fa-instagram"></a><br>
                        <a href="https://www.whatsapp.com/" class="fa fa-whatsapp"></a><br>
                        <a href="https://www.youtube.com/" class="fa fa-youtube"></a><br>
                        <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a><br>
                        <a href="https://plus.google.com/" class="fa fa-google-plus"></a><br>

              </ul>
              </div>
    

   
 </div>

       <div class="foot" style="background-color:aquamarine; margin-top: 2px; text-align: center;">
        <strong> &copy; 2017 ConTruck Pvt.Ltd. | All Rights Reserved</strong>

       </div>
    
    </footer>
 </div>




